.card{
    cursor: pointer;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options{
    position: absolute;
    top: 5px;
    right: 5px;
    >i{
        margin: 3px;
        color:orange;
    }
}