<div class="card" (click)="redirect()">
  <img class="card-img-top" src="https://image.tmdb.org/t/p/w220_and_h330_face/{{ movie.poster_path }}"
    alt="{{ movie.title }}" appImgFallback />
  <div class="d-flex options">
    <i>
      <fa-icon [icon]="faList" (click)="addToWatchlist(); $event.stopPropagation()"></fa-icon>
    </i>
    <i>
      <fa-icon [icon]="faHeart" (click)="addToFavorite(); $event.stopPropagation()"></fa-icon>
    </i>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ movie.title }}</h5>
    <p class="card-text">{{ movie.release_date }}</p>
  </div>
</div>