<div class="container">
  <h1>Popular Movies</h1>
  <div class="form-group">
    <input class="form-control" placeholder="search here..." [(ngModel)]="searchText" />
  </div>
  <div class="d-flex flex-row">
    <app-filters (genreChanged)="onGenreChanged($event)" (yearsChanged)="onYearChanged($event)"
      (sortByChanged)="onSortByChanged($event)">
    </app-filters>
    <div class="container-fluid movies-list">
      <app-movies-list-item *ngFor="let movie of movies$ | async | searchTextFilter: searchText: 'title'"
        [movie]="movie" (addedToWatchlist)="addToWatchlist($event)" (addedToFavorite)="addToFavorites($event)">
      </app-movies-list-item>
    </div>
  </div>
</div>